{% extends 'flatpages/default.html' %}
<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Post{% endblock title %}</title>
</head>

{% load censor %}
{% load custom_tags %}

{% block content %}
<body>
<h1>{% trans 'All news' %} ({{ post_news.count}})</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h3>{{ next_sale|default_if_none:"_('We will inform you about more recent news a little later!')" }}</h3>
<hr>
{% if category_news_list %}
<tr>
    <table>
        <thead>
        <tr>
            <th>
                {% trans 'heading' %}
            </th>
            <th>
                {% trans 'category' %}
            </th>
            <th>
                {% trans 'date of publication' %}
            </th>
            <th>
                {% trans 'text' %}
            </th>
        </tr>
        {% for post in category_news_list %}
        <tr>
            <td>
            <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> <!-- ссылка на сам пост -->
        </td>
            <td>
            {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
            </td>
            <td>{{ post.date_in|date:'d M Y'}}</td>
        <td><a href="{% url 'post_detail' post.id %}">{{ post.title|censor|truncatechars:20}}</a></td>

        <td>
                <p class="text-center"><a href="{% url 'post_edit' post.id %}"style="background-color:#ffffa1" ><u>{% trans 'Edit' %}</u></a></p> <!--ссылка на редактирование поста-->

                <p class="text-center"><a href="{% url 'post_delete' post.id %}"style="color:red"><u>{% trans 'Remove' %}</u></a></p> <!-- добавим ссылку на удаление поста-->
        </td>
        </tr>
        {% endfor %}
        </thead>
    </table>
{% if is_not_subscriber %}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}"style="background-color:green" class="btn btn-secondary btn-sm">{% trans 'subscribe' %}</a></p>
{% else %}
    <p class="text-center"><a href="{% url 'unsubscribe' category.id %}"style="background-color:red" class="btn btn-secondary btn-sm">{% trans 'unsubscribe' %}</a></p>
    {% endif %}
{% if is_not_author %}
<button> <a href="{% url 'upgrade' %}">{% trans 'become an author!' %}</a> </button>
{% else %}
<h1>{% trans 'you are already an author' %}</h1>
{% endif %}
</tr>
{% else %}
    <h2>{% trans 'there is no news!' %}</h2>
{% endif %}
{% endblock content %}
</body>
</html>