{% extends 'flatpages/default.html' %}
<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Onenews {% endblock title %}</title>
    {% load censor %}
    {% load custom_tags %}

</head>
<body>
{% block content %}

<h1>_('deleting a post')-{{post_delete.title}}</h1>
    <hr>
    <form action=""
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"
        value="{% trans 'confirm' %}" />
    </form>
{% endblock content %}
</body>
</html>